<%- include('../compartido/estilos-generales/estilos-generales-component')%>


<h1>Inicio</h1>
<!--unordered list-->
<%- include('../compartido/menu/menu-component')%>


<!--<button onclick="mensajeAlertar()">-->
<!--    ALERTAR-->
<!--</button>-->


<!--=   El igual se utiliza así-->
<%= "Hola" %>
<p>
<%= 15 %>
</p>

<!--Etiquetas-->

<!--<  % % > -->
<%const andres = {
  nombre: "Andres",
    apellido: "Pantoja",
    cedula: "17"
} %>

<% const numero = 25 %>
<% const mensaje = "Holaaaa" %>

<p> <%= andres.nombre%> </p>
<p> <%= numero%> </p>
<p> <%= mensaje%> </p>

<% const arregloNumeros = [1,2,3,4,5]%>
<ul>
    <%arregloNumeros.forEach( (numero) => { %>

     <li>
         <%= numero%>
     </li>

    <% }) %>
</ul>
<div class="container">
    <a href="/usuario/vista/crear">
        <button class="btn-link">Crear</button>
    </a>

    <%if (Object.keys(consulta).length > 0){ %>
       <p>MENSAJE: <%= consulta.mensaje%></p>
    <% }%>


    <table class="table">
        <!--    table row-->
        <tr>
            <!--        Table header-->
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Cedula</th>
            <th scope="col">Acciones</th>
        </tr>

        <% usuarios.forEach((usuario) => { %>

            <tr>
                <td><%=usuario.nombre%></td>
                <td><%=usuario.apellido%></td>
                <td><%=usuario.cedula%></td>
                <td>

                    <a href="/usuario/vista/ver/<%= usuario.idUsuario%>">
                        <button class="btn-info">Ver</button>
                    </a>


                    <a href="/usuario/vista/editar/<%= usuario.idUsuario%>">
                        <button  class="btn-light">Editar</button>
                    </a>



                    <form action="/usuario/eliminarDesdeVista/<%= usuario.idUsuario %>"
                          method="POST"
                    >
                        <button type="submit" class="btn-danger">Eliminar</button>
                    </form>

                </td>

            </tr>
        <% })%>
    </table>

</div>




<%- include('../compartido/funcionalidad-general/funcionalidad-general-component')%>